body {
    margin : 0px;
    width: 1920px;
    margin-left: 0px;
    height: 100hv;
    margin-right: 0px;
}



.section {
	width: 1920px;
    height: 1080px;
    background: url(../images/title1/179952.jpg) center no-repeat;
    margin: 0px;
    border-bottom: solid 2px #950000;
}

.paragraph {
    color: #fff;
    font-size: 60px; 
    font-weight: 200;
    position: absolute;
    width: 570px;
    height: 67px;
    left: 315px;
    top: 467px;
    font-family: Montserrat;
    text-transform: uppercase;
    
}

.paragraph2 {
    color: #fff;
    font-size: 35px;
    position: absolute;
    margin-left: 242px;
    top:-35px;
    margin-top: 70px;
    font-family: Molengo;
    letter-spacing: 0.09em;

    
}

.logi {
    background: url(../images/title1/logo%203.png)center no-repeat;
    position: absolute;
    width: 130px;
    height: 130px;
    margin-left: 150px;
    top:-25px;
    margin-top: 20px;
}



.reg_logo {
     
    background: url(../reg_img/logo.png) center no-repeat;
    position: absolute;
    width: 200px;
    height: 200px;
    top: -40px;
    right: 3200px;
    left:  1500px;
    
}

.nav_linea {
    position: absolute;

      width: 200px;
    height: 200px;
    top: -40px;
    padding-right: 3200px;
    
    
}



.section2 {
    width: 1920px;
    height: 1600px;
    background: url(../images/title1/1111.png) no-repeat;
    left: -1165px;
    top: 1007px;
    margin: 0px;
    border-bottom: solid 2px #950000;
    background-color: #000;
}

.paragraph3 {
    color: #fff;
    font-size: 35px;
    position: absolute;
    margin-left: 1095px;
    margin-top: 300px;
    font-family: Montserrat;
}

.logi2 {
    background: url(../images/title1/logo%203.png)center no-repeat;
    position: absolute;
    width: 143px;
    height: 143px;
    margin-left: 990px;
    margin-top: 255px;
}

.paragraph4 {
    color: #fff;
    font-size: 25px;
    position: absolute;
    margin-left: 1033px;
    margin-top: 550px;
    font-family: Montserrat;
    
}

.section3 {
    border-bottom: solid 2px #950000;
    background-color: #000;
    margin-top: 0px;
}


.paragraph5 {
    color: #fff;
    font-size: 45px;
    margin-left: 258px;
    margin-top: 40px;
    font-family: Montserrat;

} 



.section4 {
    height: 1080px;
    background: url(../images/title1/%D1%84%D0%BE%D0%BD3.png) center no-repeat;
    border-bottom: solid 2px #950000;
}

.section5 {
    height: 600 px;
    display: flex;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
    
   
}


.section6 {
    width: 457px;
    height: 496px;
    background: url(../images/title1/motoimage.png) center no-repeat;
    margin-left: 430px;
    margin-top: 130px;
    box-shadow: 0px 0px 20px 3px #000;
}


.section6:hover {
    
    box-shadow: 0px 0px 40px 3px #D10010;
    
}



.section7 {
    width: 457px;
    height: 496px;
    background: url(../images/title1/%D0%BB%D0%BE%D0%B3%D0%BE3_3.png)center no-repeat;
    margin-left: 200px;
    margin-top: 130px;
    box-shadow: 0px 0px 20px 3px #000;
}

.section7:hover {
    
    box-shadow: 0px 0px 40px 3px #D10010;
    
}






.sec_a {
    
    position: absolute;
    padding-top: 440px;
    padding-left: 160px;
    padding-right: 145px;
    padding-bottom: 25px;
    
}

.sec_a1 {
    
    position: absolute;
    padding-top: 440px;
    padding-left: 185px;
    padding-bottom: 25px;
    padding-right: 180px;
    
}



.sec_a2 {
    position: absolute;
    padding-left: 25px;
    padding-top: 180px;
    padding-bottom: 10px;
    padding-right: 170px;
    
}




.section11{
    display: flex;
    padding-top: 200px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
    
}

.section8{
    width: 353px;
    height: 223px;
    background: url(../images/title1/%D0%BB%D0%BE%D0%B3%D0%BE3_2.png)center no-repeat;
   margin-left: 360px;
    box-shadow: 0px 0px 20px 3px #000;
    
}


.section8:hover {
    
    box-shadow: 0px 0px 40px 3px #D10010;
    
}



.section9{
    width: 353px;
    height: 223px;
    background: url(../images/title1/%D0%BB%D0%BE%D0%B3%D0%BE3_4.png)center no-repeat;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 0px 0px 20px 3px #000;
}




.section9:hover {
    
    box-shadow: 0px 0px 40px 3px #D10010;
    
}


.section10{
    width: 353px;
    height: 223px;
    background: url(../images/title1/%D0%BB%D0%BE%D0%B3%D0%BE3_5.png)center no-repeat;
    box-shadow: 0px 0px 20px 3px #000;
}


.section10:hover {
    
    box-shadow: 0px 0px 40px 3px #D10010;
    
}




a{
    text-decoration: none;
    color: #fff;
}


.section12{
    height: 1080px;
    background: url(../images/title1/ret.png) center no-repeat;
    border-bottom: solid 2px #950000;
}


.section16{
    display: flex;
    padding-top: 360px;
    padding-left: 250px;
    
}

.section13{
    width: 452px;
    height: 129px;
    background: url(../images/title1/Rectangle%2016.png)center no-repeat;
    padding-right: 85px;
    
}

.paragraph6 {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 24px;
    padding-left: 80px;
    padding-top: 25px;
    
}

.section14{
    width: 452px;
    height: 129px;
    background: url(../images/title1/Rectangle%2016.png)center no-repeat;
    
    
}

.paragraph7 {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 24px;
    padding-left: 100px;
    padding-top: 25px;
}


.section17{
    display: flex;
    padding-top: 115px;
    padding-left: 250px;
}

.section15 {
    width: 452px;
    height: 129px;
    background: url(../images/title1/Rectangle%2016.png)center no-repeat;
    padding-right: 85px;
}

.paragraph8{
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 24px;
    padding-left: 100px;
    padding-top: 10px;
}

.section18 {
    width: 452px;
    height: 129px;
    background: url(../images/title1/Rectangle%2016.png)center no-repeat;
   
}

.paragraph9{
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 24px;
    padding-left: 60px;
    padding-top: 25px;
}

.paragraph10 {
    color: #950000;
    font-family: 'Montserrat';
    font-size: 150px;
    padding-left: 1400px;
    margin-top: -300px;
    
}

.paragraph11 {
  width: 171px;
  height: 98px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 43px;
  color: #FFFFFF;
  padding-left: 1425px;
  margin-top: -180px;
}

.section21 {
    height: 1080px;
    background: url(../images/title1/1489202.jpg) center no-repeat;
    border-bottom: solid 2px #950000;
    
    
}


.section22{
    margin-left: -70px;
}

.paragraph12 {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 50px;
    margin: 0;
    padding-top: 300px;
    margin-left: 400px;
}


.section23  {
    width: 426px;
    height: 119px;
    background: url(../images/title1/%D0%BE%D0%B4%D0%BD%D0%B0%20%D1%85%D1%80%D0%B5%D0%BD%D1%8C.png) center no-repeat;
    margin-top: 150px;
    padding-top: 50px;
    margin-left: 330px;
}

.paragraph13 {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 50px;
    margin-top: 0px;
    padding-left: 50px;
    margin-bottom: 0px;
    
}

.section24 {
    width: 510px;
    height: 777px;
    background: url(../images/title1/%D0%B4%D1%80%D1%83%D0%B3%D0%B0%20%D1%85%D1%80%D0%B5%D0%BD%D1%8C.png)
        center no-repeat;
    margin-top: -700px;
    margin-left: 1300px;
}

.section25 {
    width: 324px;
    height: 576.22px;
    background: url(../images/title1/image%2023.png) center no-repeat;
    margin-top: -675px;
    margin-left: 1393px;
}











body {
    
    background-color: #000;
    margin: auto;
}




a {
    
    text-decoration: none;
    
}


li {
    
     list-style-type: none;
    
}

footer {
    
     height: 430px; 
     border-top: 1px solid;
     border-top-color: #950000;
}





.footer_link_a {
    
    font-family: Montserrat;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    display: block;
    margin-left: 100px;
    margin-bottom: 25px;
    padding-right: 0px;
    width: auto;
    
}




.footer_link_a:hover {
    
    color: #950000;
  
}



.footer_link_b {
    
    font-family: Montserrat;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    margin-left: 0px;
    padding-left: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 25px;
    
    
}

.footer_link_b_gm {
    
    font-family: Montserrat;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 100px;
    padding-bottom: 65px;
   
    
}

.paragraph555 {
    
    color: #fff;
    font-size: 25px;
    margin: 0;
    font-family: Montserrat;
    font-weight: 600;
    padding-top: 46px;
    padding-bottom: 25px;
    margin-left: 100px;
    
}

.col_mnu_footer {
    
    display: flex;
    
}
 

.f_logo_prava {
    
    
    color: #fff;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 600;
    padding-top: 98px;
    padding-left: 195px;
    
}



.footer_link_conf{
    
    margin-top: 94px;
    margin-left: 100px;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 600;
    color: #fff;
}

.f_logo_name {
    
    
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    padding-left: 240px;
}


.f_logo_img {
    
    padding-top: 25px;
    padding-left: 263px;
    
    display: block;
    margin-right: 20px;
}


.f_media_m {
    
    display: flex;
    
    
}



.f_media {
    
    
    height: 50px;
    
    
    
}




.f_media_ico1 {
    
    
    position: absolute;
    padding-left: 150px;
    padding-right: 100px;
}

.f_media_ico2 {
    
    
    position: absolute;
    padding-left: 100px;
   
}



.f_media_ico3 {
    
    padding-left: 200px;
    position: absolute;
   
}






.f_contact {
    
    padding-left: 50px;
    
} 


.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top : 0;
    left : 0;
    opacity: 0;
    visibility: hidden;
}


.popup.open {
    opacity: 1;
    visibility: visible;
}


.popup_body {
    
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}




.popup_content{
    background-color: rgb(106, 90, 205);
    max-width: 800px;
    max-height: 880px;
    align-items: flex-end;
    padding: 226px;
    padding-top: 275px;
    
    padding-left: 150px;
    position: relative;
    transition: 1s ;
}



.yo {
    color: rgb(2, 2, 2);
}

.popup_cont {
    background-color: rgb(255, 0, 0);
    max-width: 500px;
    max-height: 500px;
    align-items: center;
    
    padding: 226px;
    padding-right: 150px ;
    padding-top: 275px;
    padding-left: 170px ;
    position: relative;
    
   
    
}

.popup_block {
    position: absolute;
    width: 100%;
    left: 260px;
    right: 200px ;
    top:  195px;
    
    max-width: 267px;
   
    
   padding-top: 200px;
    padding-left: 190px;
    padding-right: 245px;
    padding-bottom: 100px;
    z-index: 2000;
    background-color: #ffffff;
    transition :   1s ease-in-out;
    overflow: hidden;
}

.popup_block.active {
    left: 50%;
}

.popup_block.active .signup {
    visibility: hidden;
}
.popup_block.active .signinn {
    left: 0;
}



.close-popup {
    position: absolute;
    color : #ffffff;
    right: 5px;
    top : 5px;
    font-size: 30px;
    text-decoration: none;
    color : #ffffff;
 
}

.close-pop {
    position: absolute;
    color : #ffffff;
    left : 5px;
    top : 5px;
    font-size: 30px;
    text-decoration: none;
    color : #ffffff;
}





/*.popup_title{
    
    color: rgb(247, 247, 247);

    
}




.popup_text { 
   
    color: rgb(255, 0, 0);
    
}






.popup_img {
    color :#fff;
   
}

*/




.block-item{
    
    text-align: center;
}

.item-block{
    vertical-align: top;
}

.block-item__title{
    
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
   
    margin-bottom: 10px;

}



.block-item__btn {
    position: absolute;
    color: #000;
    right: 300px;
    padding: 10px;
    
}

.ert2 {
    color: #fff;
}

.btn_block-item {
    position: absolute;
    color: #000;
    right: 300px;
    padding: 10px;
    
}
.form-box {
    background-color: antiquewhite;
    width: 50%;
    box-shadow: 0 5px 45px rgba(0, 0, 0,0.25);
    
}

.pasforgot{
    color: #000;
    font-size: 15px;
}

.form{
   
    width: 100%;
    font-size: 20px;
    
}

.form_title {
    font-size: 1.5rem;
    font-weight: 500;
}

.form_input {
    padding: 10px;
    border: solid 2px #333;
}

.form_btn {
    padding: 10px;
}


.signinn {
    width: 100%;
    font-size: 20px;
    position: absolute;
    text-align: center;
    top:200px;
    left: 660px;
    
    
    
}

.form_title2 {
    
    position: absolute;
    font-size: 1.5rem;
    font-weight: 500;
}

.form_input2 {
    position: absolute;
    padding: 10px;
    border: solid 2px #333;
}

.form_btn2 {
    position: absolute;
    padding: 10px;
}