body {
    
    background-color: #000;
    margin: auto;
    height: 100hv;
}




a {
    
    text-decoration: none;
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    margin-left: 20px;
   
}





.nav__link {
    
    color: #fff;
    padding-right: 10px;
    padding-top: 100px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 35px;
    
    
}

.nav_l_logo
{
    
    margin-left: 110px;
    width: 50px;
    height: 50px;
   
}




.nav__link_a {
    color: #fff;
    padding-left: 450px; 
    padding-right: 400px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 35px;
    
    
}


.nav__link_b {
    
    color: #fff;
    font-family: Montserrat;
    padding-right: 250px;
    font-weight: 400;
    font-size: 35px;
    
}





.basket_icon {
    
    background: url(../images/basket_1.png) center no-repeat;
    width: 50px;
    height: 50px;
    padding-right: 3285px;
    margin-top:  -45px;
    
    
    
}




.body_s {
    
    height: 1920px;
    width: 8000px;
    
    background: url(../images/77777.png) no-repeat;
    
   
    
}




.cat_sec {
   
    padding-right: 110px;
    padding-bottom: 60px;
    
}



.t2_catalog {
    
    display: flex;
    padding-top: 650px;
}



.t_1 {
    
    width: 450px;
    height: 400px;
    background-color: #333;
    margin-left: 250px;
    background-color: #D10010; 
}



.t_2 {
    
    width: 450px;
    height: 400px;
    background-color: #333;
    margin-left: 30px;
    background-color: #D10010;
   
    
}


.t2_catalog2 {
    
    display: flex;
    padding-top: 30px;
}


.t2_c_price {
    
     color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    margin-left: 330px;
    
}


























li {
    
     list-style-type: none;
    
}

footer {
     margin-top: 500px;
     height: 430px; 
     border-top: 1px solid;
     border-top-color: #950000;
}





.footer_link_a {
    
    font-family: Montserrat;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    display: block;
    margin-left: 100px;
    margin-bottom: 25px;
    padding-right: 0px;
    width: auto;
    
}




.footer_link_a:hover {
    
    color: #950000;
  
}



.footer_link_b {
    
    font-family: Montserrat;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    margin-left: 0px;
    padding-left: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 25px;
    
    
}

.footer_link_b_gm {
    
    font-family: Montserrat;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 100px;
    padding-bottom: 65px;
   
    
}

.paragraph555 {
    
    color: #fff;
    font-size: 25px;
    margin: 0;
    font-family: Montserrat;
    font-weight: 600;
    padding-top: 46px;
    padding-bottom: 25px;
    margin-left: 100px;
    
}

.col_mnu_footer {
    
    display: flex;
    
}
 

.f_logo_prava {
    
    
    color: #fff;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 600;
    padding-top: 98px;
    padding-left: 195px;
    
}



.footer_link_conf{
    
    margin-top: 94px;
    margin-left: 100px;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 600;
    color: #fff;
}

.f_logo_name {
    
    
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    padding-left: 218px;
}


.f_logo_img {
    
    padding-top: 25px;
    padding-left: 263px;
    
    display: block;
    margin-right: 20px;
}


.f_media_m {
    
    display: flex;
    
    
}



.f_media {
    
    
    height: 50px;
    
    
    
}




.f_media_ico1 {
    
    
    position: absolute;
    padding-left: 150px;
    padding-right: 100px;
}

.f_media_ico2 {
    
    
    position: absolute;
    padding-left: 100px;
   
}



.f_media_ico3 {
    
    padding-left: 200px;
    position: absolute;
   
}






.f_contact {
    
    padding-left: 50px;
    
} 



.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top : 0;
    left : 0;
    opacity: 0;
    visibility: hidden;
}


.popup.open {
    opacity: 1;
    visibility: visible;
}


.popup_body {
  
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup_cont {
    background-color: #333;
    max-width: 900px;
    
    padding: 400px ;
    position: relative;
}

.close-popup {
    position: absolute;
    color : #950000;
    right: 5px;
    top : 5px;
    font-size: 30px;
    text-decoration: none;
}

.close-popup:hover {
    
    background-color: #fff;
    
    
}

.basket_icon1 {
    position: absolute;
    vertical-align: top;
    top: 5px;
    left: 100px;
    background-color: #333;
    
    width: 50px;
    height: 50px;
}


.popup_title{
    position: absolute;
    vertical-align: top;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: rgb(247, 247, 247);

    
}


.empty_basket {
    position: absolute;
    top: 100px;
    left: 290px; 
    width: 200px;
    height: 200px;
}

.popup_text { 
    position: absolute;
    top:   290px;
    left:  200px;
    color: rgb(255, 0, 0);
    font-size: 30px;
    padding: 30px 100px;
}




.but {
        position: absolute;
        display: flex;
        align-items: flex-end;
        bottom: 0px;
        left: 200px;
        
        border: 2px solid #9B1111;
        color: #fff;
        padding: 30px;
        margin-bottom: 10px;
        
    }

    .but:hover {
    
        background-color: #9B1111;
        
        
    }

.popup_img {
    color :#fff;
   
}

.nav_linea{
    position: absolute;
    vertical-align: top;
    top: 50px;
    left: 0px;
    right: 10px;
    width: 800px;
}






































































